*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 70%;
}

body {
    box-sizing: border-box;
    background: $colour_background;
}

.body--noscroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}